<h1>id = <%= @talks.id %> タスク詳細ページ</h1>

<p>内容 : <%= @talks.content %></p>
<p>状態 : <%= @talks.status %></p>

<%= link_to '一覧に戻る', talks_path %>

<%= link_to 'このタスクを編集する', edit_talk_path(@talks) %>

<%= link_to 'このタスクを削除する', @talks, method: :delete, data: { confirm: '本当に削除してよろしいですか？' } %>
